.form__wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 81.25%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 24.75rem;
  width: 100%;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .form__wrapper {
    width: 100%;
    min-height: 16.625rem;
    margin: 0;
    flex-grow: 0;
  }
}
